
level-2/excel/европейски-подрегиони-география-таблица.xlsx
level-2/.idea/workspace.xml
level-2/.idea/modules.xml
level-2/.idea/vcs.xml
level-2/.idea/level-2.iml
level-2/.idea/inspectionProfiles/Project_Default.xml
level-2/exam/.idea/exam.iml
level-2/exam/.idea/modules.xml
level-2/exam/.idea/vcs.xml
level-2/exam/task_1/online_bookstore.zip
level-2/.idea/dataSources.local.xml
level-2/.idea/dataSources.xml
level-2/.idea/dataSources/e13e28b1-43b0-4b6a-b522-1fca96dd613f.xml
level-2/.idea/dataSources/e13e28b1-43b0-4b6a-b522-1fca96dd613f/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
level-2/.idea/dataSources/e13e28b1-43b0-4b6a-b522-1fca96dd613f/storage_v2/_src_/schema/mysql.osA4Bg.meta
level-2/.idea/dataSources/e13e28b1-43b0-4b6a-b522-1fca96dd613f/storage_v2/_src_/schema/mysql.osA4Bg.zip
level-2/.idea/dataSources/e13e28b1-43b0-4b6a-b522-1fca96dd613f/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
